body { 
    font-family: 'Roboto', sans-serif !important;
    /* background-image: url("https://wiki.dolphin-emu.org/images/a/a9/Mii_Channel_Floor_Bug.png");
    background-position: bottom; */
}

.nav-text {
    font-size: 20px;
    color: darkgrey;
}

.button-text {
    font-size: 50px;
}

.card-div {
    position: fixed;
    width: 800px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    font-size: 40px;
    margin-top: 7.5%;
}

.card-text {
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
}

.table-text {
    font-family: 'Roboto', sans-serif !important;
}